﻿@model IEnumerable<minierp.Models.odbiorca>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Dodaj odbiorcę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.powiat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gmina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kodpoczt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poczta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nrdomu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rabat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.powiat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gmina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kodpoczt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poczta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nrdomu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rabat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.odbiorca_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.odbiorca_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.odbiorca_id })
        </td>
    </tr>
}

</table>
