﻿
@{
    ViewBag.Title = "Index";
}

<h2>miniERP</h2>

<h1 class=" text-center ">
    <div>
        <button type="button" class="btn btn-primary btn-lg btn-block"> @Html.ActionLink("Lista odbiorców", "Index", "odbiorcy",new {@style="color:#ffffff;" }, new {@style="color:#ffffff;" }) </button>
        <button type="button" class="btn btn-primary btn-lg btn-block"> @Html.ActionLink("Dodaj nowego odbiorcę", "Create", "odbiorcy",new {@style="color:#ffffff;" }, new {@style="color:#ffffff;" }) </button>
    </div>
</h1>

@using (Html.BeginForm("Index", "Home"))
{
}